
 @media (max-width:750px){
    .App{
        background-color: yellow;
        
    }
   .header_section{
     
.navbar{
  display: block;
  margin: -17% 70% 0% 0%;
  background-color: $backing;
  width: 100%;
  height: 500px;
  .nav-links{
      width: 100%;
      
  }
  .navbar-toggler{
      border: 2px solid red;
      z-index: 5;
      
      
.toggl{
    background-color: gold;
}
  }
  .navbar-nav{
    width: 100%;
    height: 500px;
    text-align: center;
  }
}
}





.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    
  
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  height: 400px;
  margin-top: -10%;
  
  }

}
