
 @import 'config';
 
*{
    margin: 0px;
    padding: 0px;
  
}
.App{
    background-color:$backgroundcolor;
    color: $color;
}
.contact{
    border-top:4px;
    height: 23px;
    width: 200px;
}
.aboutme{
    margin: -600px 0px 0px 300px;
    color: $aboutme;
    text-align: center;
}


.carousel-items{
    float: left;
    background-color: "";
margin: -20% 50% 0% 0%;
border: 4px ;
}






.carousel-itemO0{

    margin: -10% 60% 20% 10%;
    background-color: purple;
    }
    
    .carousel-item1{
        background-color: rgb(150, 182, 8);
        margin: -10% 60% 0% 24%;
    
    
    }
    .card-body{
        background-color: rgb(35, 141, 40);
        margin:0% 19% 25% 63%;
    }
    .carousel-itemm22{
        background-color: rgb(35, 61, 141);
    margin:-4.5% 40% -5% 43%;
    }
    



    .sidebar11{
        position: fixed;
        height: 100%;
        left: 0;
        z-index: 0;
        margin:0px 0px 0px 2px;
    width: 20%;
        background-color: #08031c;
        flex-wrap:nowrap;
        flex-direction: column;
        
    }

    .sidebar{
        position: fixed;
        height: 100%;
        left: 0;
        z-index: 0;

    width: 20%;
        background-color: red;
        flex-wrap:nowrap;
        flex-direction: column;
        border-top-right-radius: 0.5rem;
       
    .header_section{
        

            .navbar{
                text-align: center;
                position: fixed;
                top: 5px;
                left: 0;
                z-index: 0;
                width: 20%;
                height: 100%;
                overflow: scroll;
                flex-wrap:nowrap;
                flex-direction: column;
                background-color:$backgroundcolor;
                border-top-right-radius: 0.5rem;
                
                .divimg{
                    
b{
    font-size: 150%;
    color: $color;
}

                    .imgea1{top: -50px;
                    border-radius: 80px;
                    }
                }
                
                .nav-links{
                    text-decoration: none;
                    color: $color;
                    top: 500px;
                    
                }
                .nav-links:hover{
                                 color:$text; 
                                 text-decoration: underline;
                                 background-color: inherit;
                                 
  
  
                }
                                
.navbar-nav{
    
}   
.nav-item{
;
        
}
            }
        
    }}



    

.tile-row{
    
    display: grid;
   grid-template-columns:300px 270px 270px ;
   grid-template-rows: 250px 250px;
   grid-gap:30px 30px ;
   margin: 0px 0px 80px 80px;
   
.tile{

text-align: center;
border-radius: 0.3rem;
color: $color;

.marketimage{
    border-radius: 33px;
    
}

}
}

    .containerarray{
        color: $aboutme;
    }

    .stack1{
        background-color:  #f9bf3f;
    text-align: center;
    
    .stack{
        position: fixed;
        width: 50%;
        flex-wrap:nowrap;
        flex-direction: row;        
    }
    }

.content{
    
    margin: 1% 0% 0% 51%;
    height: 100%;
    background-color: $backgroundcolor;
    
    
    .container{
        color:red;
background-color: $backgroundcolor;
margin:0px 0px 0px 300px;
padding:0px;

.gitimage{
   
   font-size: 40px;
   margin:0px 0px 200px 0px;
   
  .imge{
    display: block; /* remove extra space below image */
width: 90%;
height: 510px;
}
h4 {
    margin: -300px 0px 0px 0px;
    text-align: center;
    z-index: 0;

}
button {
    margin: -200px 0px 0px 0px;
    z-index: 0;
    text-decoration: none;
    height: 30px;
    width: 150px;
    a{
        text-decoration: none;
    }
}
}









}
}



    




    



    .servicecontainer{

        
        background-color: gold;
        margin:0px 0px 0px 300px;
        padding:0px;
        
    }




    .table{
         margin: -100% -20% 0% -200%; 
         justify-content: space-between;
         background-color: $backgroundcolor;
         height:50%;
         .thead{
             background-color:red;
             height:50px;
         }
         .tbody{
             height:50px;
         }
         .tbody::hover{
             background-color:red;
         }
    }

    .content1{
        background-color: $backgroundcolor;
    margin: 1% 0% 0% 20%;
    }
.navbar-toggler{
    width: 0%;
    height: 0%;
    .menu-bars{
        width: 0%;
        height:0%;
    }
}
    @import 'mobile';