

 @import 'config';
*{
    margin: 0px;
    padding: 0px;
  
}

.App{
    background-color:$backgroundcolor;
    color: $color;
}
.imgea{
    border-radius: 35px;
}
b{
    font-size: 150%;
    color: $color;
}
.contact{
    border-top:4px;
    height: 23px;
    width: 200px;
}
.aboutme{
    margin: -600px 0px 0px 300px;
    color: $aboutme;
    text-align: center;
}


.carousel-items{
    float: left;
    background-color: rgb(45, 119, 51);
margin: -20% 50% 0% 0%;
border: 4px solid plum;
}






.carousel-itemO{

    margin: 0% -1% 0% 70%;
    background-color: purple;
    }
    





    .header_section{

        background-color: $backgroundcolor;
        

            .navbar{
                position: fixed;
                top: 8.25rem;
                left: 0;
                z-index: 0;
            
                
                flex-wrap:nowrap;
                flex-direction: column;
                background-color: transparent;
                border-top-right-radius: 0.5rem;
                .nav-links{
                    text-decoration: none;
                    
                }
                .nav-links:hover{
                                 color: #ec5453; 
                                 background-color: inherit;
                                 
  
  
                }
                                
.navbar-nav{
    
}   
.nav-item{

        

        
}
            }
        
    }



    
    .carousel-item1{
        background-color: rgb(150, 182, 8);
        margin: -17% 70% 0% 0%;
    
    
    }
    .carousel-itemm2{
        background-color: rgb(35, 61, 141);
    margin:-14% 35% -5% 35%;
    }
    


    
    .container{
        height:100%;
background-color: $backgroundcolor;
margin:0px 0px 0px 300px;
padding:0px;


.marketimage{
    border-radius: 33px;
    
}
.gitimage{
   height: 5%;
   font-size: 40px;
   margin:0px 0px 700px 0px;
  .imge{
    display: block; /* remove extra space below image */
width: 100%;
height: 510px;
}
h4 {
    margin: -300px 0px 0px 0px;
    text-align: center;
    z-index: 0;

}
button {
    margin: -200px 0px 0px 0px;
    z-index: 0;
}
}
    .tile-row{
        display: grid;
       
       grid-template-columns:300px 270px 270px ;
       grid-template-rows: 250px 250px;
       grid-gap:30px 30px ;
       margin: 0px 0px 80px -205px;
       border-bottom: #ec5453;
.tile{
    
    text-align: center;
    background-color:#fff;
    border-radius: 0.3rem;
    color: $color;
}
    }
}

    .containerarray{
        color: $aboutme;
    }

    .stack{
        background-color: #f9bf3f;
    text-align: center;
    margin: 0px px 0px 0px;
    
    }
 @media (max-width:750px){
     .header_section{
.navbar{
    width: 100%;
    height: 400px;
    .nav-links{
        width: 100%;
        display: inline;
    }
}
 }}























    

    .sidebar{
        position: fixed;
        top: 8.25rem;
        left: 0;
        z-index: 0;
    
        
        flex-wrap:nowrap;
        flex-direction: column;
        background-color: red;
        border-top-right-radius: 0.5rem;
       
    }



    .servicecontainer{

        height:100%;
        background-color: gold;
        margin:0px 0px 0px 300px;
        padding:0px;
    }