

/*

$backgroundcolor:#fefefe;
$navbackground:#20b68c;
$navcolor:#662C91;
$backing:#2c98f0;
$color:#000;
$text:#5aaef3;
$tex:#7d7d7d;
$foot2:#222222;
$aboutme:#9e9e9e;*/




$backgroundcolor:#191919;
//$backgroundcolor:#fefefe;
$navbackground:#312e81;
$navcolor:#662C91;
$backing:#2c98f0;
$color:#ccd0d6;
$text:#5aaef3;
$tex:#7d7d7d;
$foot2:#222222;
$aboutme:#9e9e9e;

