/*
 @media (max-width:700px){
    .App{
        
        
    }


    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 100%;
      position: fixed;
      top: 80px;
      left: -100%;
      opacity: 1;
    
    }
  
    .nav-menu.active {
      background: $backgroundcolor;
      height: 100%;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    margin-top: -11%;
    overflow: scroll;
    border-radius: 5px;
    
    }




.content{
    
  margin: 1% 0% 0% 2%;
  height: 100%;
  background-color: $backgroundcolor;
  .di{
      
    .navbar-toggler{
      width: 100%;
      height: 50px;
      display: flex;
      justify-content:flex-start;
      position: absolute;
      align-items: center;
      margin: -9px 0px 0px -14px;
    }
    
    .menu-bars{
      margin-left: 2rem;
      font-size: 2rem;
      background: none;
      position: fixed;
    }
    
        
      
        .sidebar{
          background-color: blue;
          height: 0px;
      margin: -1% 0% 0% 0%;
      position: fixed;
      flex-wrap:nowrap;
      flex-direction: column;
      border-top-right-radius: 0.5rem;
     

       .header_section{
         
    .navbar{
      display: block;
      margin: -17% 70% 0% 0%;
      background-color: $backing;
      position: fixed;
    height: 0px;
    overflow: scroll;
  
.divimg{
  .imgea1{
top: -50px;
   border-radius: 80px;
                   
  }
  b{
    font-size: 150%;
    color: $color;

  }
  p{
    
  }
}

.nav-links{
  text-decoration: none;
  color: $color;
  top: 500px;
  
}
.nav-links:hover{
               color:$text; 
               text-decoration: underline;
               background-color: inherit;
               


}
  
.navbar-toggler{
          border: 2px solid red;
          margin:50px 0px 0px 0%;
          z-index: 0;
          opacity: 1;
          
    .toggl{
        background-color: gold;
    }
      }
      .navbar-nav{
        width: 100%;
        height: 500px;
        text-align: center;
      }
    }
    }
        }}
    
.container{
  width: 100%;
  margin: 1% 0% 0% 15%;
  .content1{
    background-color: $backgroundcolor;
  margin: 1% 0% 0% -0%;
  }}
  
  .gitimage{
    font-size: 40px;
  width: 100%;

  }

}

.btn{
  background-color: red;
  height: 20px;
}


 }













 
 @media (max-width:992px){
  .App{
      
      
  }


  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    position: fixed;
    top: 80px;
    left: -100%;
    opacity: 1;
  
  }

  .nav-menu.active {
    background: $backgroundcolor;
    height: 100%;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  margin-top: -11%;
  overflow: scroll;
  border-radius: 5px;
  
  }




.content{
  
margin: 1% 0% 0% 2%;
height: 100%;
background-color: $backgroundcolor;
.di{
    
  .navbar-toggler{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:flex-start;
    position: absolute;
    align-items: center;
    margin: -9px 0px 0px -14px;
  }
  
  .menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    position: fixed;
  }
  
      
    
      .sidebar{
        background-color: blue;
        height: 0px;
    margin: -1% 0% 0% 0%;
    position: fixed;
    flex-wrap:nowrap;
    flex-direction: column;
    border-top-right-radius: 0.5rem;
   

     .header_section{
       
  .navbar{
    display: block;
    margin: -17% 70% 0% 0%;
    background-color: $backing;
    position: fixed;
  height: 0px;
  overflow: scroll;

.divimg{
.imgea1{
top: -50px;
 border-radius: 80px;
                 
}
b{
  font-size: 150%;
  color: $color;

}
p{
  
}
}

.nav-links{
text-decoration: none;
color: $color;
top: 500px;

}
.nav-links:hover{
             color:$text; 
             text-decoration: underline;
             background-color: inherit;
             


}

.navbar-toggler{
        border: 2px solid red;
        margin:50px 0px 0px 0%;
        z-index: 0;
        opacity: 1;
        
  .toggl{
      background-color: gold;
  }
    }
    .navbar-nav{
      width: 100%;
      height: 500px;
      text-align: center;
    }
  }
  }
      }}
  
.container{
width: 100%;
margin: 1% 0% 0% 15%;
.content1{
  background-color: $backgroundcolor;
margin: 1% 0% 0% -0%;
}}

.gitimage{
  font-size: 40px;
width: 100%;

}

}

.btn{
background-color: red;
height: 20px;
}


}



*/




@import 'config';
 
 @media screen and (max-width: 768px)
{
    .App{
        
        
    }


    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 100%;
      position: fixed;
      top: 80px;
      left: -100%;
      opacity: 1;
    
    }
  
    .nav-menu.active {
     // background:$backgroundcolor;
     background-color: $navbackground;
      height: 100%;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    margin-top: -11%;
    overflow: scroll;
    border-radius: 5px;
    
    }




.content{
    
  margin: 1% 0% 0% 2%;
  height: 100%;
  background-color: $backgroundcolor;
      
    .navbar-toggler{
      width: 100%;
      height: 50px;
      display: flex;
      justify-content:flex-start;
      position: absolute;
     // align-items: center;
      margin: 0px 0px 0px -7px;
   // }
   // .navbar-toggler{
  //    width:100%;
      background-color: gray;
    //  height: 10%;
  //    position: static;
    .menu-bars{
      margin-left: 2rem;
      font-size: 2rem;
      background: none;
      position: fixed;

    }}
    
        
      
        .sidebar{
          background-color: blue;
          height: 0px;
      margin: -1% 0% 0% 0%;
      position: fixed;
      flex-wrap:nowrap;
      flex-direction: column;
      border-top-right-radius: 0.5rem;
     

       .header_section{
         
    .navbar{
      display: block;
      margin: -17% 70% 0% 0%;
      background-color: $backing;
      position: fixed;
    height: 0px;
    overflow: scroll;
  
.divimg{
  .imgea1{
top: -50px;
   border-radius: 80px;
                   
  }
  b{
    font-size: 150%;
    color: $color;

  }
  p{
    
  }
}

.nav-links{
  text-decoration: none;
  color: $color;
  top: 500px;
  
}
.nav-links:hover{
               color:$text; 
               text-decoration: underline;
               background-color: inherit;
               


}
  
.navbar-toggler{
          border: 2px solid red;
          margin:50px 0px 0px 0%;
          z-index: 0;
          opacity: 1;
          
    .toggl{
        background-color: gold;
    }
      }
      .navbar-nav{
        width: 100%;
        height: 500px;
        text-align: center;
      }
    }
    }
        }
    
.container{
  width: 100%;
  margin: 1% 0% 0% 15%;
  .content1{
    background-color: $backgroundcolor;
  margin: 1% 0% 0% -0%;
  .gitimage{
   
    font-size: 40px;
    margin:0px 0px 200px 0px;
    width: 135%;
   .imge{
     display: block; /* remove extra space below image */
 width: 90%;
 height: 510px;
 }
 h4 {
     margin: -300px 0px 0px 0px;
     text-align: center;
     z-index: 0;
 
 }
 button {
     margin: -200px 0px 0px 0px;
     z-index: 0;
     text-decoration: none;
     height: 30px;
     width: 150px;
     a{
         text-decoration: none;
     }
 }
 
}

.textdiv{
 //background-color: goldenrod;
//width: 135%;
margin: -75% 0% 0% 0%;
}

  
  }
}
  

}

.btn{
  background-color: red;
  height: 20px;
}


 }













 
